<h1>Update Staff</h1>
<form action="/api/staff/?_method=PUT" method="post" class="container">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
    <label for="code">Code:</label>
    <input type="text" id="code" name="code">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title">
    <label for="course_code">Assign to Course:</label>
    <input type="text" id="course_code" name="course_code">
    <input type="submit" value="Submit">
</form>
